.refs {
  color: #808080;
  font-style: italic;
  font-size: 0.8em;
}
.eqnBlock {
  border: 1px solid #000;
  display: block;
  text-align: center;
  margin: 1.1em auto;
  padding: 0.45em 0.8em;
  max-width: 100%;
  overflow-x: auto;
}
.blackBlock {
  color: #fff;
  background-color: #222;
  margin: auto;
  text-align: center;
  display: inline-block;
  padding-top: 2px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
}
